html {
    box-sizing: border-box;
}
*, *:before, *:after{
     box-sizing: inherit;
}   

html, body {
    height: 100%;
    width: 100%;

}
.logo-text {
    font-size: 40px;
    display: flex;
    margin-left: 8%;
    /* justify-content:center; */
    flex-wrap: nowrap;
    font-family: 'Grand Hotel', cursive;

}
.top-img {
    display:flex;
    justify-content: flex-end;
    height: 45px;
    margin-right: 20px;
}
.picture-frame{
    width: 80%;
    border: 2px solid cornflowerblue;
    /* wow much center */
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
}

/* Using the :hover pseudo-class */
.picture-frame:hover {
    outline: solid black;
}
.picture-frame:hover img {
    transform: scale(1.1);
    opacity:1.0;

}
.picture-frame img{
    width: 100%;
    height: 100%;
    opacity: 0.1;
    /* display: block */
    transition: all 500ms ease-in;
    /* 
        1. property names or the word "all"
        2. duration in seconds or ms
        3. timing function 
    */
}

.picture-frame.big img{
    transform:scale(2.5);
    opacity:1.0;
}


.playground {  
    border: 5px solid gold;
    display: flex;
    flex-direction: column;
    /* main axis line up */
    justify-content:space-between;
    /* cross axis line up */
    align-items: center;
    /* if you set the height that's how big the 
    element will be. then the hamster will overflow.
    instead we set min height0 */
    min-height: 300px;

}
/* kind of like an if statement for CSS */
@media screen and (min-width:500px) {
    body {
        background: rgb(255, 162, 0);
    }
        .picture-frame {
            width:47.5%;
            margin: 10px 5px 10px 5px;

        }

    .playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-right: 5%;
        padding-left:  5%;
    }
}

@media screen and (min-width: 700px) {
    body {
        background: rgb(242, 122, 140);
    }
    .picture-frame {
        width:30%;
        margin: 15px 10px 15px 10px;

    }

    .playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
    }
}
@media screen and (min-width: 1000px) {
    body {
        background: salmon;
    }
    .picture-frame {
        width:22%;
        /* margin: 20px 10px 20px 10px; */

    }

    .playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
}